
<h2>City Admin</h2>

<form>
  <input placeholder="City Name" ng-model="cityName">
  <input placeholder="City URL" ng-model="cityUrl">
  <button type="submit" ng-click="addCity(cityName, cityUrl);cityName = null;cityUrl = null;">submit</button>
</form>

<ul id="city" ng-show="cities.length">
  <li ng-repeat="city in cities" >
  	<input ng-model="city.name" ng-change="cities.$save(city)"/>
  	<input ng-model="city.url" ng-change="cities.$save(city)"/> 
  	<button class="btn btn-danger" ng-click="cities.$remove(city)">X</button>
  </li>
</ul>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
