<div class="jumbotron">
  <h1>CityScan (TBN)</h1>
  <p class="lead">
  A fun little searchable archive of city government websites.
  </p>
  <form class="form-inline">
    <input placeholder="Search" ng-model="query" class="form-control"/>
    <input type="submit" class="btn btn-primary" ng-click="search(query);query = null;">
  </form>
  </label>
</div>
<!-- Use bootstrap width system so that I can get mobile compatibility -->
<div id="results">
  <div id="metrics" class="well text-center" ng-show="stats">
    <h4>Results:{{stats.hits}}</h4>
  </div>
  <ul class="results list-group">
    <li ng-repeat="result in results" class="result list-group-item row">
      <div class="cityName col-xs-3">{{result.city}}</div>
      <div class="resultItem col-xs-6">
      <dl>
        <dt><a ng-href="{{result.url}}" target="_blank">{{result.title}}</a></dt>
        <dd ng-bind-html="result.description"></dd>
      </dl>
      </div>
    </li>
  </ul>
</div>
