<div id="header" class="well">
  <h1>SQL for the brave</h1>
  <p><i>Accepts SELECT, SHOW, and DESCRIBE queries.</i></p>
  <p><i>The database has one table, READINGS, which represents a specific crawl of a url.</i></p>
  <form class="form-inline">
    <textarea id="sqlinput" placeholder="SELECT COUNT(*) FROM READINGS" ng-model="query" class="form-control"></textarea>
    <input type="submit" class="btn btn-primary" ng-click="sqlpost(query);">
  </form>
</div>
<div id="sqlResults" ng-show="results"> 
 <table class="table table-hover">
 	<th ng-repeat="field in results.fields">{{field}}
 	</th>
 	<tr ng-repeat="row in results.rows track by $index">
 		<td ng-repeat="cell in row track by $index">{{cell}}</td>
 	</tr>
 </table>
</div>
<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>